{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Blog
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/arch_linux.png" %}" alt="Max - The Author Of This Blog" />
    <h2>WebTeen BLOG</h2>
  </header>
  <p>Hi!! We are WebTeen and We love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
  <h2>Our Latest Thoughts</h2>

  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What We Do</h2>
  <p>
    We love programming, We love to help others and We enjoy exploring new
    technologies in general!
  </p>
  <p>
    Our goal is to keep on growing as a developer - and if We could help you do
    the same, I'd be very happy!
  </p>
</section>
{% endblock %}
